/venv
/cache
__pycache__/
*.pyc
*.pyo
.env
.claude
CLAUDE.md
*.parquet


data/raw/f1db/*
data/raw/jolpica/*

# Mantém o arquivo marcador .gitkeep para preservar as pastas
!data/raw/f1db/.gitkeep
!data/raw/jiolpica/.gitkeep

